:root {
    --sect-bg-card: #c5c5c5;
    --nav-bg: #7cc064;
    --header-bg: #811b2d;
    --player-bg: #1b9a5f;

    /* var * calc/layout */
    --player-height: 100px;
    --nav-width: 160px;
    --header-h: 80px;
}