* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*XXXXXXXXXXXXXXXXXX
XXXXXXGENERALXXXXXXX
XXXXXXXXXXXXXXXXXXX*/

body {
    font-family: Helvetica Neue, helvetica, arial, Hiragino Kaku Gothic ProN, Meiryo, MS Gothic;
}

main {
    background-color: red;
    height: calc(100vh - var(--player-height));
    display: flex;
}

li {
    list-style: none;
}

/*XXXXXXXXXXXXXXXXXX
XXXXXXXNAVBARXXXXXXX
XXXXXXXXXXXXXXXXXXX*/

.navbar {
    height: 100%;
    background-color: var(--nav-bg);
    width: fit-content;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.top-nav>*,
.bottom-nav .download,
.bottom-nav .profilo {
    padding: 0.8em;
}

.navbar a {
    text-decoration: none;
    color: lightgray;
    font-size: 0.8rem;
}

.navbar li:hover a,
.bottom-nav .download:hover a {
    color: #fff;
}

.logo svg {
    height: 30px;
}

/* .show {
    display: none;
} */

.hide {
    display: none;
}

.show {
    display: inline-block;
}

.navigation span,
.playlist {
    display: none;
}

.navigation svg,
.bottom-nav svg {
    width: 20px;
}

.navigation li,
.playlist li {
    padding: 0.2em;
}

.navigation li a,
.playlist li a,
.download,
.profilo {
    display: flex;
    align-items: center;
    gap: 4px;
}

.playlist h4 {
    padding-bottom: 6px;
}

.download a,
.profilo div {
    display: none;
}

.profilo svg {
    background-color: gray;
    border-radius: 12px;
    padding: 2px;
}

.profilo div {
    font-weight: 700;
}

/*XXXXXXXXXXXXXXXXXX
XXXXXXXXCOREXXXXXXXX
XXXXXXXXXXXXXXXXXXX*/

.core {
    width: 100%;
    background-color: lightgray;
}


/*XXXXXXXXXXXXXXXXXX
XXXXXXXHEADERXXXXXXX
XXXXXXXXXXXXXXXXXXX*/

.header {
    background-color: green;
    height: var(--header-h);
}

/*XXXXXXXXXXXXXXXXXX
XXXXXXXXWRAPXXXXXXXX
XXXXXXXXXXXXXXXXXXX*/

.wrapper {
    background-color: pink;


    /* quando header sarà fixed */
    /* margin-top: var(--header-h); */
}

/*XXXXXXXXXXXXXXXXXX
XXXXXXPLAYERXXXXXXXX
XXXXXXXXXXXXXXXXXXX*/

.player {
    height: var(--player-height);
    width: 100%;
    background-color: var(--player-bg);
}

@media screen and (min-width: 350px) {

    .navbar {
        width: var(--nav-width);
    }

    .hide {
        display: inline-block;
    }

    .show {
        display: none;
    }

    .navigation span,
    .playlist {
        display: inline-block;
    }

    .download a,
    .profilo div {
        display: inline-block;
    }

}