:root {
    --sect-bg-card: #141922;
    --nav-bg: #141922;
    --header-bg: #080b12;
    --player-bg: #282828;

    /* var * calc/layout */
    --player-height: 100px;
    --nav-width: 160px;
    --header-h: 80px;
}